{% extends "base.html" %}

{% block body %}

<div class="text-center mx-auto mt-5 mt-5">
    <h1 class="mb-4">
        Journal Jar
    </h1>
    <p class="text-center text-justify mx-auto mb-5 limited-width">
        Bienvenidos/as
    </p>
    <p class="text-center text-justify mx-auto mb-5 limited-width">
        Journal Jar es una plataforma dedicada a la consulta y exploración de revistas científicas. Desarrollada como proyecto por estudiantes de la Universidad de Sonora, esta herramienta ofrece una experiencia intuitiva para conocer el panorama editorial en diversas áreas del conocimiento. Ya sea mediante la navegación temática o la búsqueda libre, el usuario podrá descubrir publicaciones relevantes y acceder a información clave para sus intereses académicos o profesionales.
    </p>

</div>

{% endblock %}
