{% extends "base.html" %}

{% block title %}Journal Jar - {{ journal.title }}{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">{{ journal.title }}</h1>

    {% if journal.h_index %}
        <h4 class="mt-4">H-index</h4>
        <p>{{ journal.h_index }}</p>
    {% endif %}

    {% if journal.website %}
        <h4 class="mt-4">Sitio web</h4>
        <p>
            <a href="{{ journal.website }}" target="_blank" rel="noopener noreferrer">
                {{ journal.website }}
            </a>
        </p>
    {% endif %}

    {% if journal.publisher %}
        <h4 class="mt-4">Editorial</h4>
        <p>{{ journal.publisher }}</p>
    {% endif %}

    {% if journal.issn %}
        <h4 class="mt-4">ISSN</h4>
        <ul>
            {% for issn in journal.issn %}
            <li>
                {{ issn }}
            </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if journal.publication_type %}
        <h4 class="mt-4">Tipo de publicación</h4>
        <p>{{ journal.publication_type }}</p>
    {% endif %}

    {% if journal.widget %}
        <h4 class="mt-4">Widget</h4>
        <div>{{ journal.widget|safe }}</div>
    {% endif %}

    {% if journal.areas %}
        <h4 class="mt-4">Áreas (UNISON)</h4>
        <ul>
            {% for area in journal.areas %}
                <li>
                    <a href="/areas/{{ area }}?pagina=1" class="text-decoration-none">{{ area }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if journal.catalogs %}
        <h4 class="mt-4">Catálogos (UNISON)</h4>
        <ul>
            {% for catalog in journal.catalogs %}
                <li>
                    <a href="/catalogos/{{ catalog }}?pagina=1" class="text-decoration-none">{{ catalog }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if journal.subjet_area_and_category %}
        <h4 class="mt-4">Áreas y Categorías (SCIMAGO)</h4>
        <ul>
            {% for area, categorias in journal.subjet_area_and_category.items() %}
                <li><strong>{{ area }}</strong>
                    <ul>
                        {% for categoria in categorias %}
                            <li>{{ categoria }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if journal.last_visit %}
        <p class="mt-5">Ultima actualización: {{ journal.last_visit }}</p>
    {% endif %}

    {% if session.logged_in %}
        <form method="post" class="mb-3">
            <button type="submit" class="btn btn-success">
                Guardar revista
            </button>
        </form>
    {% endif %}

</div>
{% endblock %}
